<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="header">
        <section class="menu1Header">
            <h4>Foods</h4>
        </section>
        <section class="menu2Header">
            <div>
                <a href="Home">Home</a>
            </div>
            <div>
                <a href="About">About</a>
            </div>
            <div>
                <a href="menu">Menu</a>
            </div>
            <div>
                <a href="Service">Service</a>
            </div>
            <div>
                <a href="Contact">Contact</a>
            </div>
        </section>
    </header>
    <div class="menu1">
        <div class="item1Menu1">
            <div>
                <h1>Full Website</h1>
            </div>
            <div>
                <p>Foods the</p>
                <p>Most precious thing</p>
            </div>
            <div>
                <button>Today's Menu</button>
            </div>
        </div>
        <div class="item2Menu1">
            <img src="../storage/img/home.png">
        </div>
    </div>
    <div class="menu2">
        <div class="item1Menu2">
            <img src="../storage/img/about.png" alt="">
        </div>
        <div class="item2Menu2">
            <div>
                <h5>
                    About Us
                </h5>
            </div>
            <div>
                <h2>
                    We speak the good
                </h2>
                <h2>food language</h2>
            </div>
            <div>
                <p>
                    It is a long established fact that a be distracted by the readable content looking at its layout. The point of
                </p>
            </div>
            <div>
                <button>
                    Learn More
                </button>
            </div>
        </div>
    </div>
</body>
</html>