<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="body">
    <header class="header">
        <section class="menu1Header">
            <h4>Foods</h4>
        </section>
        <section class="menu2Header">
            <div>
                <a href="#menu1">Home</a>
            </div>
            <div>
                <a href="#menu2">About</a>
            </div>
            <div>
                <a href="#menu3">Menu</a>
            </div>
            <div>
                <a href="#menu4">Service</a>
            </div>
            <div>
                <a href="#menu6">Contact</a>
            </div>
        </section>
        <div class="iconHeader">
            <i class='bx bx-sun' style='color:#087f5b'  ></i>
        </div>
    </header>
    <div class="navMovil">
        <ul>
            <li><a href="#menu1">Home</a></li>
            <li><a href="#menu2">About</a></li>
            <li> <a href="#menu3">Menu</a></li>
            <li><a href="#menu4">Service</a></li>
            <li><a href="#menu6">Contact</a></li>
        </ul>
    </div>
    <div class="container">
        <div id="menu1" class="menu1">
            <div class="item1Menu1">
                <div>
                    <h1>Full Website</h1>
                </div>
                <div>
                    <p>Foods the</p>
                    <p>Most precious thing</p>
                </div>
                <div>
                    <button>Today's Menu</button>
                </div>
            </div>
            <div class="item2Menu1">
                <img src="../storage/img/home.png">
            </div>
        </div>
        <div id="menu2" class="menu2">
            <div class="item1Menu2">
                <img src="../storage/img/about.png">
            </div>
            <div class="item2Menu2">
                <div>
                    <h5>
                        About Us
                    </h5>
                </div>
                <div>
                    <h2>
                        We speak the good
                    </h2>
                    <h2>food language</h2>
                </div>
                <div>
                    <p>
                        It is a long established fact that a be distracted by the readable content looking at its layout. The point of
                    </p>
                </div>
                <div>
                    <button>Learn More</button>
                </div>
            </div>
        </div>
        <div id="menu3" class="menu3">
            <div class="item1Menu3">
                <div>
                    <h3>
                        Food Menu
                    </h3>
                </div>
                <div>
                    <h1>
                        Fresh taste and grat price
                    </h1>
                </div>
            </div>
            <div class="item2Menu3">
                <div class="box1Menu3">
                    <div>
                        <img src="../storage/img/food1.png" alt="">
                    </div>
                    <div>
                        <h3>
                            Chicken Burger
                        </h3>
                    </div>
                    <div>
                        <h4>
                            Tasty Food
                        </h4>
                    </div>
                    <div>
                        <h4>
                            $11.00
                        </h4>
                    </div>
                </div>
                <div class="box2Menu3">
                    <div>
                        <img src="../storage/img/food2.png" alt="">
                    </div>
                    <div>
                        <h3>
                            Special Beef Burger
                        </h3>
                    </div>
                    <div>
                        <h4>
                            Tasty Food
                        </h4>
                    </div>
                    <div>
                        <h4>
                            $11.00
                        </h4>
                    </div>
                </div>
                <div class="box3menu3">
                    <div>
                        <img src="../storage/img/food3.png" alt="">
                    </div>
                    <div>
                        <h3>
                            Chicken Fry Pack
                        </h3>
                    </div>
                    <div>
                        <h4>
                            Tasty Food
                        </h4>
                    </div>
                    <div>
                        <h4>
                            $11.00
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div id="menu4" class="menu4">
            <div class="item1Menu4">
                <div>
                    <h3>Services</h3>
                </div>
                <div>
                    <h1>
                        We provide best food services
                    </h1>
                </div>
            </div>
            <div class="item2Menu4">
                <div class="box1Menu4">
                    <div>
                        <img src="../storage/img/s1.png" alt="">
                    </div>
                    <div>
                        <h3>
                            Order
                        </h3>
                    </div>
                    <div>
                        <p>
                            It is a long established be distracted by the readable looking at its layout. 
                        </p>
                    </div>
                </div>
                <div class="box2Menu4">
                    <div>
                        <img src="../storage/img/s2.png" alt="">
                    </div>
                    <div>
                        <h3>
                            Shipping
                        </h3>
                    </div>
                    <div>
                        <p>
                            It is a long established be distracted by the readable looking at its layout. 
                        </p>
                    </div>
                </div>
                <div class="box3Menu4">
                    <div>
                        <img src="../storage/img/s3.png" alt="">
                    </div>
                    <div>
                        <h3>
                            Delivered
                        </h3>
                    </div>
                    <div>
                        <p>
                            It is a long established be distracted by the readable looking at its layout. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu5">
            <div class="item1Menu5">
                <div>
                    <h1>
                        We make quality food <br>Everyday
                    </h1>
                </div>
                <div>
                    <button>
                        Learn More
                    </button>
                </div>
            </div>
        </div>
        <div id="menu6" class="menu6">
            <div class="item1Menu6">
                <div>
                    <h2>
                        Menu Links
                    </h2>
                    <div class="bottom">
                    </div>
                </div>
                <ul>
                    <li><a href="#menu1">Home</a></li>
                    <li><a href="#menu2">About</a></li>
                    <li><a href="#menu3">Menu</a></li>
                    <li><a href="#menu4">Service</a></li>
                    <li><a href="#menu6">Contact</a></li>
                </ul>
            </div>
            <div class="item2Menu6">
                <div>
                    <h2>
                        Our Service
                    </h2>
                    <div class="bottom">
                    </div>
                </div>
                <ul>
                    <li>Web Design</li>
                    <li>Web Development</li>
                    <li>Marketing</li>
                    <li>Product Management</li>
                    <li>Graphic Design</li>
                </ul>
            </div>
            <div class="item3Menu6">
                <div>
                    <h2>
                        Information
                    </h2>
                    <div class="bottom">
                    </div>
                </div>
                <ul>
                    <li>About Us</li>
                    <li>Delivery Information</li>
                    <li>Privacy Policy</li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
            <div class="item4Menu6">
                <div>
                    <h2>
                        Contact Us
                    </h2>
                    <div class="bottom">
                    </div>
                </div>
                <div>
                    <img src="../storage/img/Untitled-2024-03-19-1913.png">
                    <img src="../storage/img/Untitled-2024-03-19-1913.png">
                    <img src="../storage/img/Untitled-2024-03-19-1913.png">
                    <img src="../storage/img/Untitled-2024-03-19-1913.png">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const iconHeader = document.querySelector('.iconHeader');
            const navMovil = document.querySelector('.navMovil');

            // Toggle the visibility of navMovil on iconHeader click
            iconHeader.addEventListener('click', function() {
                navMovil.classList.toggle('show');
            });

            // Hide navMovil after clicking one of its options
            const navItems = document.querySelectorAll('.navMovil ul li a');
            navItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    navMovil.classList.remove('show');
                });
            });
        });
    </script>
</body>
</html>